
#display {
    position: relative;
    border: 2px solid #1d3885;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    border: 1px solid #1d3885;
    background-color: #3859b6;
    height: 20px;
    width: 20px;
}

.pixel-hero {
    background-color: #ffd56a;
}

.snake-eat {
    background-color: #1bda61;
    border: 1px solid #048054;
    -webkit-animation: SNAKE_EAT .3 infinite;
    -o-animation: SNAKE_EAT .3 infinite;
    -moz-animation: SNAKE_EAT .3 infinite;
    animation: SNAKE_EAT .3 infinite;
}

@keyframes SNAKE_EAT {
    0%, 49% {
        background-color: #1bda61;
    }
    50%, 100% {
        background-color: #c1eed2;
    }
}