/**
не использовать селекторы идентификаторов
минимизировать применение селекторов тегов
не рекомендуется совмещать селекторы тегов и классов
минимизировать применение вложенных селекторов классов
изменение при вложенных классах применяется через классы модификаторов
внешний вид, состояние и поведение изменяется через модификаторы
стили, отвечающие за внешнюю геометрию и позиционирование, задаются через родительский блок

**/
/* @import url('https://fonts.cdnfonts.com/css/gotham-pro');

.content__wrap {
    margin: 0px 80px;
}

.menu__header-nav, .header__menu {
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_green, .btn_white {
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 27px;
}

.btn_green {
    background-color: #87B645;
    color: #FFFFFF;
}

.btn_white {
    background-color: #ffffff;
    border: 1px solid #A0C4FA;
    color: #000000;
}

.btn__exit {
    text-align: center;
    font-size: 24px;
    font-style: medium;
    font-family: 'Gotham Pro', sans-serif;
    color: #FFFFFF;
}

.home-btn__icon {
    height: 47px;
    width: 47px;
    background-color: #FBAC00;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__exit-btn {
    cursor: pointer;
}

.home-btn__icon::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 72%;
    background-color: #DE9902;
    left: 0;
    z-index: -1;
    transform: skew(0, -15deg);
    bottom: 5px;
}

.home-btn__name {
    font-family: 'Gotham Pro', sans-serif;
    padding-left: 13px;
    color: #000000;
    font-size: 25px;
}

.home-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.header-nav__link {
    padding: 0px 0px;
    margin: 0px 48px;
    font-family: 'Gotham Pro', sans-serif;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    font-style: normal;
}
.btn__start-minig, .btn__get-more {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
}

.start-mining__preface {
    margin: 56px 10px;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-mining__btn-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__name {
    font-size: 60px;
    font-family: 'Gotham Pro', sans-serif;
    text-align: center;
    padding-top: 152px;
}

.test-block {
    background-color: #27AE60;
    position: relative;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    transform: matrix(1.2,0,0.3,1.2,50,0);
}

.test-block::after {
    content: "";
    display: block;
    height: 5px;
    width: 10px;
    border-left: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    transform: rotate(-45deg);
} */

#display {
    position: relative;
    border: 2px solid #1d3885;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    border: 1px solid #1d3885;
    background-color: #3859b6;
    height: 20px;
    width: 20px;
}

.pixel-hero {
    background-color: #ffd56a;
}

.snake-eat {
    background-color: #1bda61;
    border: 1px solid #048054;
    -webkit-animation: SNAKE_EAT .3 infinite;
    -o-animation: SNAKE_EAT .3 infinite;
    -moz-animation: SNAKE_EAT .3 infinite;
    animation: SNAKE_EAT .3 infinite;
}

@keyframes SNAKE_EAT {
    0%, 49% {
        background-color: #1bda61;
    }
    50%, 100% {
        background-color: #c1eed2;
    }
}